<div class="table-of-contents-container">
    <div class="table-of-contents">
    <h3>Table of Contents</h3>
    <hr/>
    {% for content in tablecontents%}
    <div class="table-of-contents-links">
        <a href="#{{content.id}}" >{{ content.text}}<a/>
    </div>
    {% endfor %}
    </div>
</div>